* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}

.car-form {
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.car-form h1 {
  padding-bottom: 30px;
  font-weight: 400;
}

.car__info {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.car__info__input {
  display: flex;
  flex-direction: column;
  width: calc(50% - 15px);
}
.car__info__input label {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
}
.car__info__input input {
  padding: 8px;
  outline: none;
  border-radius: 4px;
  border: none;
  border: 1px solid gray;
}
.car__info__input select {
  background-color: transparent;
  border-radius: 4px;
  outline: none;
  padding: 8px;
}
.car__info__input select option {
  background: #000;
  color: #fff;
}

.car__btn {
  width: 100%;
  padding: 5px 0;
  margin: 30px 0;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 4px;
  background: black;
  transition: 0.4s;
}
.car__btn:hover {
  background: #fff;
  color: #000;
  border-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.table {
  width: 1000px;
  margin: auto;
  border-collapse: collapse;
}

.table tr {
  border-bottom: 1px solid #aaa;
}

.table tr:nth-child(even) {
  background: #f1f1f1;
}

.table th,
.table td {
  padding: 14px 20px;
  text-align: left;
}

.table th {
  background: #222;
  color: #fff;
}

.table th:first-child {
  border-radius: 14px 0 0 0;
}

.table th:last-child {
  border-radius: 0 14px 0 0;
}

.table__wrapper {
  width: 100%;
  overflow: auto;
  margin: 50px 0;
}

.table select {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}

.table option {
  background: #222;
}